$md-safranblue: (
    50 : #e0ebef,
    100 : #b3cdd8,
    200 : #80acbe,
    300 : #4d8ba3,
    400 : #267290,
    500 : #00597c,
    600 : #005174,
    700 : #004869,
    800 : #003e5f,
    900 : #002e4c,
    A100 : #80c1ff,
    A200 : #4da9ff,
    A400 : #1a90ff,
    A700 : #0084ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-safranorange: (
    50 : #faeae3,
    100 : #f2cbba,
    200 : #eaa88c,
    300 : #e1855d,
    400 : #da6b3b,
    500 : #d45118,
    600 : #cf4a15,
    700 : #c94011,
    800 : #c3370e,
    900 : #b92708,
    A100 : #ffe7e4,
    A200 : #ffbbb1,
    A400 : #ff8f7e,
    A700 : #ff7964,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
