@import '../../../../custom-theme.scss';

.mat-toolbar {
  background-color: #00597c;
  color: white;
}
.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
